.copilot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-top: 100px;
    /* flex-wrap: wrap; */
}

.copilot-left {
    padding: 0px 40px 0px 0px;
}

.copilot-left p {
    color: #8AA3B4;
    font-weight: 600;
}



.copilot-right img {

    max-width: 720px;
    max-height: 400px;
    filter: brightness(130%);
}

.copilot-right {
    margin: 0px 0px 0px 40px;
}


@media (max-width: 950px) {
    .copilot {

        flex-wrap: wrap;
        justify-content: center;
    }

    .copilot-right img {
        max-width: 650px;
        height: auto;
        /* aspect-ratio: 1; */
    }
}


@media (max-width: 650px) {

    .copilot-right img {
        max-width: 480px;
        height: auto;
        /* aspect-ratio: 1; */
    }

    .copilot-right {
        padding: 10px;
        margin: 0%;
    }
}

@media (max-width: 500px) {

    .copilot-right img {
        max-width: 400px;
        height: auto;
        /* aspect-ratio: 1; */
    }

    .copilot-right {
        padding: 0px;
        margin: 0%;
    }
}

@media (max-width: 400px) {
    .copilot-right {
        padding: 0px;
        margin: 0%;
    }

    .copilot-right img {
        max-width: 320px;
        height: auto;
        /* aspect-ratio: 1; */
    }
}